<section id="form">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div id="user_form">
    <h2>Let us know who you are, how many people you want to bring, and what you're bringing!</h2><br/>
    <%= f.text_field :name, placeholder: "What's ya name?" %><br/><br/>
    <%= f.number_field :guests, placeholder: "# of guests?" %><br/><br/>
    <%= f.text_field :dish, placeholder: "What are ya bringin?" %><br/>
  <div class="actions">
      <br/><%= f.submit value: "Click to Submit to Softsgiving!" %>
    </div>
  </div>
  <% end %>
</section>
