<section id="intro">
  <h1>SOFTSGIVING 9!!!!!!!</h1>
  <p>Friends!!!  Welcome to Softsgiving 9!  Seeing as how so many of you beautiful and wonderful people make it to this joyous occasion year after year, I figured it's time to make life a little easier on our wonderful hosts.  SO, with that in mind, I kindly ask you to "register" if you will, letting the loveliest Drew and Eli know whose coming, whose bringing who, and what you might be bringing.<br/>Much love to you all and can't wait to see everyone at Softsgiving 9!!!!</p>
</section>

<br/><br/>
  <%= render "form" %>
<br/><br/>
<div id="users_coming">
  <h1>We're All Coming!!</h1>
  <p id="phrasing">(phrasing)</p>
</div>
  <% @users.each do |user| %>
    <div id="users">

        Name: <strong><%= user.name %></strong><br/>
        # of Guests: <strong><%= user.guests %></strong><br/>
        Dish: <strong><%= user.dish %></strong><br/>
        <%= link_to 'Change your mind?', edit_user_path(user) %><br/>
        <%= link_to 'Not Coming?', user, method: :delete, data: { confirm: 'Are you sure?' } %><br/><br/>
      </div>
    <% end %>


<br>
